# Ignorar dependencias locales, se instalan dentro del contenedor
node_modules

# Ignorar archivos de logs
logs
*.log

# Ignorar archivos de configuración de editores y sistemas operativos
.vscode
.idea
.DS_Store

# Ignorar archivos de control de versiones
.git
.gitignore

# Ignorar archivos temporales y caches
npm-debug.log
